doctype 5
html
  head
    title= title
    != css('test')
    != js('vendor/jquery-1.8.3.min')
    != js('vendor/underscore-min')
    != js('vendor/backbone')
    != js('test')
  body
    block content