extends layout

block content
  i.icon-search
  .label Default
  h1= title
  p Welcome to #{title}
  .well wow
  .close fooooo
  ul.nav.nav-tabs
    li
      a#home(data-toggle = "tab", href = "/users") Home
    li
      a(data-toggle = "tab") Profile
  #element(data-original-title = "foo") this is element
  #page-container

  //- == examples ==
  //- AMD
  //- websocket
  //- backbone
  //- bootstrap
  //- dust
  //- chaplin
  
  script(src="vendor/requirejs/require.js")
  script(src="config.js")
  script(type="text/javascript")
    // server variable delegation using !
    // var json = JSON.parse(!{title})

    require(['socket'], function() {
      var socket = io.connect('http://' + window.location.hostname + ':!{process.env.PORT}');
      socket.on('news', function(data) {
        $('body').append(JSON.stringify(data))
        //- socket.emit('my other event', {
        //-   email: json.email
        //- });
      });

      socket.on('new-data', function(data) {
        $('body').append(JSON.stringify(data))
      });
    });

    require(['models/user'], function(app) {
      //- app.init();
    });

    require(['jquery', 'bootstrap'], function() {
      $(document).ready(function() {
        console.log("Loaded :)", $(".close").alert);
        $('#element').tooltip('show')
      });
    });

    require(['jquery', 'dust', 'templates/bar'], function() {
      $(document).ready(function() {
        dust.render("templates/bar", {
          name: "suck"
        }, function(err, out) {
          console.log(out, "wwwww")
        });
      });
    });

    require(['hello_world_application'], function (HelloWorldApplication) {
      var app = new HelloWorldApplication();
      app.initialize();
    });


